{% extends "base.html" %}

{% block content %}
    <h2>Todo items</h2>

    {% for todo_list in todo_lists %}
        {% load static %}
        <h3>
            <img src="{% static 'to-do.png' %}" height="20">
            <a href="{% url 'list' todo_list.id %}">{{ todo_list.title | upper }}</a>
        </h3>
            <ol>
                {% for todo_item in todo_list.items %}
                    <li>
                        <a href="{% url 'item' todo_list.id todo_item.id %}">{{ todo_item.title }}</a>
                        <ul>
                            <li><b>Description:</b> {{ todo_item.description }}</li>
                            <li><b>Creation date:</b> {{ todo_item.creation_date }}</li>
                            <li><b>Due date:</b> {{ todo_item.due_date }}</li>
                        </ul>
                    </li>
                {% empty %}
                    <li>!!! No data !!!</li>
                {% endfor %}
            </ol>
    {% empty %}
        <h3>!!! No items !!!</h3>
    {% endfor %}
{% endblock %}
