{% extends "base.html" %}

{% block content %}
    <h2>Todo Item</h2>

    {% load static %}
    <h3>{{ todo_item.title | upper }}</h3>
    <ul>
        <li><b>Description:</b> {{ todo_item.description }}</li>
        <li><b>Creation date:</b> {{ todo_item.creation_date }}</li>
        <li><b>Due date:</b> {{ todo_item.due_date }}</li>
    </ul>
{% endblock %}
