<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django To-Do list</title>
</head>

<body>
    <header>
        <h1><a href="{% url 'index' %}">Django To-Do list</a></h1>
    </header>

    <section>
        {% block content %}
            This will be replaced by different html code for each page
        {% endblock %}
    </section>
</body>

</html>
